---
import "../styles/global.css";

// Components
import FlipCard from "../components/flipCard.astro";
---

<div class="navbar bg-base-100 shadow-sm" style="background-color: #000500;">
  <div class="flex-none">
    <button class="btn btn-square btn-ghost">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        class="inline-block h-5 w-5 stroke-current"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
    </button>
  </div>
  <div class="flex-1">
    <a class="btn btn-ghost text-xl">Promok Peter</a>
  </div>
  <div class="flex-none">
    <button class="btn btn-square btn-ghost">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        class="inline-block h-5 w-5 stroke-current"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"
        ></path>
      </svg>
    </button>
  </div>
</div>

<div style="padding-left: 10%; padding-right: 10%; padding-top: 2%">
  <div class="columns-4 ...">
    <FlipCard
      title="FoarMaNoch"
      description="Ok"
      color="white"
      image="/img/Blinki.png"
      aspect="aspect-square ..."
    />
    <FlipCard
      title="FoarMaNoch"
      description="Ok"
      color="white"
      image="/img/Blinki.png"
      aspect="aspect-square ..."
    />
    <FlipCard
      title="FoarMaNoch"
      description="Ok"
      color="white"
      image="/img/Blinki.png"
      aspect="aspect-3/2 ..."
    />
    <FlipCard
      title="FoarMaNoch"
      description="Ok"
      color="white"
      image="/img/Blinki.png"
      aspect="aspect-3/2 ..."
    />
  </div>
  <div class="columns-4 ...">
    <FlipCard
      title="FoarMaNoch"
      description="Ok"
      color="white"
      image="/img/Blinki.png"
      aspect="aspect-square ..."
    />
    <FlipCard
      title="FoarMaNoch"
      description="Ok"
      color="white"
      image="/img/Blinki.png"
      aspect="aspect-square ..."
    />
    <FlipCard
      title="FoarMaNoch"
      description="Ok"
      color="white"
      image="/img/Blinki.png"
      aspect="aspect-3/2 ..."
    />
    <FlipCard
      title="FoarMaNoch"
      description="Ok"
      color="white"
      image="/img/Blinki.png"
      aspect="aspect-3/2 ..."
    />
  </div>
</div>
